.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 30px;
  height: 40px;
}

.button {
  font-size: 30px;
  color: dodgerblue;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  font-size: 35px;
}

@media only screen and (max-width: 1365px) {
}

@media only screen and (max-width: 1199px) {
}

@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 599px) {
}

@media only screen and (max-width: 399px) {
  .wrapper input {
    width: 170px;
    font-size: 17px;
  }

  .wrapper {
    margin-bottom: 20px;
  }
}
